# pandas Primer
Code is from _Python Data Analysis_ by Ivan Idris, Chapter 4. 

Run under Python2.7
> `pandas` is named after panel data (an econometric term) and Python data analysis.
>
> The official pandas documentation insists on naming the project `pandas` in all lowercase letters. 
> The other convention they insist on is this import statement: `import pandas as pd`.

## pandas DataFrames
The data used is retrieved from http://www.exploredata.net/Downloads/WHO-Data-Set. The original datafile is quite big and has many columns, so we will use an edited file instead, which only contains the first nine columns.

In [1]:
from pandas.io.parsers import read_csv

df = read_csv("csv/WHO_first9cols.csv")
# print "## Dataframe\n", df
print
print "## Shape\n", df.shape
print
print "## Length\n", len(df)
print
print "## Column Headers\n", df.columns
print
print "## Data types\n", df.dtypes
print
print "## Index\n", df.index
print
print "## Values\n", df.values

## Shape
(202, 9)

## Length
202

## Column Headers
Index([u'Country', u'CountryID', u'Continent',
       u'Adolescent fertility rate (%)', u'Adult literacy rate (%)',
       u'Gross national income per capita (PPP international $)',
       u'Net primary school enrolment ratio female (%)',
       u'Net primary school enrolment ratio male (%)',
       u'Population (in thousands) total'],
      dtype='object')

## Data types
Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

## Index
RangeIndex(start=0, stop=202, step=1)

## Values
[['Afghanistan' 1 1 ..., 4.0 23.0 16.0]
 ['Albania' 2 2 ..., 93.0 94.0 3172.0]
 ['Algeria' 3 3 ..., 94.0 96.0 33351.0]
 ...,
 ['Yemen' 200 1 ..., 65.0 85.0 21732.0]
 ['Zambia' 201 3 ..., 94.0 90.0 11696.0]
 ['Zimbabwe' 202 3 ..., 87.0 13228.0 0.8]]

## pandas Series
The pandas `Series` data structure is a one-dimensional heterogeneous array with labels.

In [4]:
country_col = df["Country"]
print "Type df", type(df)
print "Type country col", type(country_col)
print
print "Series shape", country_col.shape
print "Series index", country_col.index
print "Series values", country_col.values
print "Series name", country_col.name

Type df <class 'pandas.core.frame.DataFrame'>
Type country col <class 'pandas.core.series.Series'>

Series shape (202,)
Series index RangeIndex(start=0, stop=202, step=1)
Series values ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bermuda' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic'
 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']
Series name Country

In [5]:
# To demonstrate the slicing of a Series
print "Last 2 countries", country_col[-2:]
print "Last 2 countries type", type(country_col[-2:])

Last 2 countries 200      Zambia
201    Zimbabwe
Name: Country, dtype: object
Last 2 countries type <class 'pandas.core.series.Series'>

NumPy functions can operate on pandas `DataFrame` and `Series`. We can, for instance, apply the NumPy `sign()` function.

In [15]:
import numpy as np

# print "df signs\n", np.sign(df)
last_col = df.columns[-1]
print "Last df column signs\n", last_col
print np.sign(df[last_col])

Last df column signs
Population (in thousands) total
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
172    1.0
173    1.0
174    1.0
175    1.0
176    1.0
177    1.0
178    1.0
179    1.0
180    1.0
181    1.0
182    1.0
183    1.0
184    1.0
185    1.0
186    1.0
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
192    1.0
193    1.0
194    1.0
195    1.0
196    1.0
197    1.0
198    1.0
199    1.0
200    1.0
201    1.0
Name: Population (in thousands) total, dtype: float64

In [17]:
print np.sum([0, np.nan])
print np.sum(df[last_col] - df[last_col].values)

nan
0.0

## Querying data in pandas
Since a padas DataFrame is structured similarly to a relational database, we can view operations that read data from a DataFrame as a query. In this example, we will retrieve the annual sunspot data from Quandl.

In [31]:
import quandl
sunspots = quandl.get("SIDC/SUNSPOTS_A")
print "Head 2", sunspots.head(2)
print "Tail 2", sunspots.tail(2)
print
last_date = sunspots.index[-1]
print "Last value", sunspots.loc[last_date]

print "Values slice by date", sunspots["20020101": "20131231"]
print "Slice from a list of indices", sunspots.iloc[[2,4,-4,-2]]
print "Scalar with Iloc", sunspots.iloc[0,0]
print "Scalar with iat", sunspots.iat[1,0]

print "Boolean selection", sunspots[sunspots > sunspots.mean()]
sunspots.columns
# print "Boolean selection with column label", sunspots[sunspots.Number > sunspots.Number.mean()]

Head 2                      Yearly Mean Total Sunspot Number  \
Date
1700-12-31 00:00:00                               8.3
1701-12-31 00:00:00                              18.3

                     Yearly Mean Standard Deviation  Number of Observations  \
Date
1700-12-31 00:00:00                             NaN                     NaN
1701-12-31 00:00:00                             NaN                     NaN

                     Definitive/Provisional Indicator
Date
1700-12-31 00:00:00                               1.0
1701-12-31 00:00:00                               1.0
Tail 2             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4

            Number of Observations  Definitive/Provisional Indicator
Date
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0

Last value Yearly Mean Total Sunspot Number      69.8
Yearly Mean Standard Deviation         6.4
Number of Observations              8903.0
Definitive/Provisional Indicator       1.0
Name: 2015-12-31 00:00:00, dtype: float64
Values slice by date             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9

            Number of Observations  Definitive/Provisional Indicator
Date
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
Slice from a list of indices                      Yearly Mean Total Sunspot Number  \
Date
1702-12-31 00:00:00                              26.7
1704-12-31 00:00:00                              60.0
2012-12-31                                       84.5
2014-12-31                                      113.3

                     Yearly Mean Standard Deviation  Number of Observations  \
Date
1702-12-31 00:00:00                             NaN                     NaN
1704-12-31 00:00:00                             NaN                     NaN
2012-12-31                                      6.7                  5753.0
2014-12-31                                      8.0                  5273.0

                     Definitive/Provisional Indicator
Date
1702-12-31 00:00:00                               1.0
1704-12-31 00:00:00                               1.0
2012-12-31                                        1.0
2014-12-31                                        1.0
Scalar with Iloc 8.3
Scalar with iat 18.3
Boolean selection                      Yearly Mean Total Sunspot Number  \
Date
1700-12-31 00:00:00                               NaN
1701-12-31 00:00:00                               NaN
1702-12-31 00:00:00                               NaN
1703-12-31 00:00:00                               NaN
1704-12-31 00:00:00                               NaN
1705-12-31 00:00:00                              96.7
1706-12-31 00:00:00                               NaN
1707-12-31 00:00:00                               NaN
1708-12-31 00:00:00                               NaN
1709-12-31 00:00:00                               NaN
1710-12-31 00:00:00                               NaN
1711-12-31 00:00:00                               NaN
1712-12-31 00:00:00                               NaN
1713-12-31 00:00:00                               NaN
1714-12-31 00:00:00                               NaN
1715-12-31 00:00:00                               NaN
1716-12-31 00:00:00                               NaN
1717-12-31 00:00:00                             105.0
1718-12-31 00:00:00                             100.0
1719-12-31 00:00:00                               NaN
1720-12-31 00:00:00                               NaN
1721-12-31 00:00:00                               NaN
1722-12-31 00:00:00                               NaN
1723-12-31 00:00:00                               NaN
1724-12-31 00:00:00                               NaN
1725-12-31 00:00:00                               NaN
1726-12-31 00:00:00                             130.0
1727-12-31 00:00:00                             203.3
1728-12-31 00:00:00                             171.7
1729-12-31 00:00:00                             121.7
...                                               ...
1986-12-31                                        NaN
1987-12-31                                        NaN
1988-12-31                                      123.0
1989-12-31                                      211.1
1990-12-31                                      191.8
1991-12-31                                      203.3
1992-12-31                                      133.0
1993-12-31                                        NaN
1994-12-31                                        NaN
1995-12-31                                        NaN
1996-12-31                                        NaN
1997-12-31                                        NaN
1998-12-31                                       88.3
1999-12-31                                      136.3
2000-12-31                                      173.9
2001-12-31                                      170.4
2002-12-31                                      163.6
2003-12-31                                       99.3
2004-12-31                                        NaN
2005-12-31                                        NaN
2006-12-31                                        NaN
2007-12-31                                        NaN
2008-12-31                                        NaN
2009-12-31                                        NaN
2010-12-31                                        NaN
2011-12-31                                       80.8
2012-12-31                                       84.5
2013-12-31                                       94.0
2014-12-31                                      113.3
2015-12-31                                        NaN

                     Yearly Mean Standard Deviation  Number of Observations  \
Date
1700-12-31 00:00:00                             NaN                     NaN
1701-12-31 00:00:00                             NaN                     NaN
1702-12-31 00:00:00                             NaN                     NaN
1703-12-31 00:00:00                             NaN                     NaN
1704-12-31 00:00:00                             NaN                     NaN
1705-12-31 00:00:00                             NaN                     NaN
1706-12-31 00:00:00                             NaN                     NaN
1707-12-31 00:00:00                             NaN                     NaN
1708-12-31 00:00:00                             NaN                     NaN
1709-12-31 00:00:00                             NaN                     NaN
1710-12-31 00:00:00                             NaN                     NaN
1711-12-31 00:00:00                             NaN                     NaN
1712-12-31 00:00:00                             NaN                     NaN
1713-12-31 00:00:00                             NaN                     NaN
1714-12-31 00:00:00                             NaN                     NaN
1715-12-31 00:00:00                             NaN                     NaN
1716-12-31 00:00:00                             NaN                     NaN
1717-12-31 00:00:00                             NaN                     NaN
1718-12-31 00:00:00                             NaN                     NaN
1719-12-31 00:00:00                             NaN                     NaN
1720-12-31 00:00:00                             NaN                     NaN
1721-12-31 00:00:00                             NaN                     NaN
1722-12-31 00:00:00                             NaN                     NaN
1723-12-31 00:00:00                             NaN                     NaN
1724-12-31 00:00:00                             NaN                     NaN
1725-12-31 00:00:00                             NaN                     NaN
1726-12-31 00:00:00                             NaN                     NaN
1727-12-31 00:00:00                             NaN                     NaN
1728-12-31 00:00:00                             NaN                     NaN
1729-12-31 00:00:00                             NaN                     NaN
...                                             ...                     ...
1986-12-31                                      NaN                  5934.0
1987-12-31                                      NaN                  6396.0
1988-12-31                                      8.4                  6556.0
1989-12-31                                     12.8                  6932.0
1990-12-31                                     11.2                  7108.0
1991-12-31                                     12.7                  6932.0
1992-12-31                                      8.9                  7845.0
1993-12-31                                      NaN                  8010.0
1994-12-31                                      NaN                  8524.0
1995-12-31                                      NaN                  8429.0
1996-12-31                                      NaN                  7614.0
1997-12-31                                      NaN                  7294.0
1998-12-31                                      NaN                  6353.0
1999-12-31                                      9.3                  6413.0
2000-12-31                                     10.1                  5953.0
2001-12-31                                     10.5                  6558.0
2002-12-31                                      9.8                  6588.0
2003-12-31                                      NaN                  7087.0
2004-12-31                                      NaN                  6882.0
2005-12-31                                      NaN                  7084.0
2006-12-31                                      NaN                  6370.0
2007-12-31                                      NaN                  6841.0
2008-12-31                                      NaN                  6644.0
2009-12-31                                      NaN                  6465.0
2010-12-31                                      NaN                  6328.0
2011-12-31                                      NaN                  6077.0
2012-12-31                                      NaN                  5753.0
2013-12-31                                      NaN                  5347.0
2014-12-31                                      NaN                  5273.0
2015-12-31                                      NaN                  8903.0

                     Definitive/Provisional Indicator
Date
1700-12-31 00:00:00                               NaN
1701-12-31 00:00:00                               NaN
1702-12-31 00:00:00                               NaN
1703-12-31 00:00:00                               NaN
1704-12-31 00:00:00                               NaN
1705-12-31 00:00:00                               NaN
1706-12-31 00:00:00                               NaN
1707-12-31 00:00:00                               NaN
1708-12-31 00:00:00                               NaN
1709-12-31 00:00:00                               NaN
1710-12-31 00:00:00                               NaN
1711-12-31 00:00:00                               NaN
1712-12-31 00:00:00                               NaN
1713-12-31 00:00:00                               NaN
1714-12-31 00:00:00                               NaN
1715-12-31 00:00:00                               NaN
1716-12-31 00:00:00                               NaN
1717-12-31 00:00:00                               NaN
1718-12-31 00:00:00                               NaN
1719-12-31 00:00:00                               NaN
1720-12-31 00:00:00                               NaN
1721-12-31 00:00:00                               NaN
1722-12-31 00:00:00                               NaN
1723-12-31 00:00:00                               NaN
1724-12-31 00:00:00                               NaN
1725-12-31 00:00:00                               NaN
1726-12-31 00:00:00                               NaN
1727-12-31 00:00:00                               NaN
1728-12-31 00:00:00                               NaN
1729-12-31 00:00:00                               NaN
...                                               ...
1986-12-31                                        NaN
1987-12-31                                        NaN
1988-12-31                                        NaN
1989-12-31                                        NaN
1990-12-31                                        NaN
1991-12-31                                        NaN
1992-12-31                                        NaN
1993-12-31                                        NaN
1994-12-31                                        NaN
1995-12-31                                        NaN
1996-12-31                                        NaN
1997-12-31                                        NaN
1998-12-31                                        NaN
1999-12-31                                        NaN
2000-12-31                                        NaN
2001-12-31                                        NaN
2002-12-31                                        NaN
2003-12-31                                        NaN
2004-12-31                                        NaN
2005-12-31                                        NaN
2006-12-31                                        NaN
2007-12-31                                        NaN
2008-12-31                                        NaN
2009-12-31                                        NaN
2010-12-31                                        NaN
2011-12-31                                        NaN
2012-12-31                                        NaN
2013-12-31                                        NaN
2014-12-31                                        NaN
2015-12-31                                        NaN

[316 rows x 4 columns]

Index([u'Yearly Mean Total Sunspot Number', u'Yearly Mean Standard Deviation',
       u'Number of Observations', u'Definitive/Provisional Indicator'],
      dtype='object')

## Statistics with pandas

In [33]:
import quandl
sunspots = quandl.get("SIDC/SUNSPOTS_A")
print "Describe", sunspots.describe()
print "Non NaN observations", sunspots.count()
print "MAD", sunspots.mad()  # mean absolute deviation
print "Median", sunspots.median()
print "Min", sunspots.min()
print "Max", sunspots.max()
print "Mode", sunspots.mode()
print "Standard Deviation", sunspots.std()
print "Variance", sunspots.var()
print "Skewness", sunspots.skew()
print "Kurtosis", sunspots.kurt()

Describe        Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
count                        316.000000                      198.000000
mean                          79.503481                        8.030303
std                           62.057114                        3.807299
min                            0.000000                        1.700000
25%                           25.050000                        4.725000
50%                           66.700000                        7.700000
75%                          116.400000                       10.475000
max                          269.300000                       19.100000

       Number of Observations  Definitive/Provisional Indicator
count              198.000000                             316.0
mean              1424.888889                               1.0
std               2394.898980                               0.0
min                150.000000                               1.0
25%                365.000000                               1.0
50%                365.000000                               1.0
75%                366.000000                               1.0
max               8903.000000                               1.0
Non NaN observations Yearly Mean Total Sunspot Number    316
Yearly Mean Standard Deviation      198
Number of Observations              198
Definitive/Provisional Indicator    316
dtype: int64
MAD Yearly Mean Total Sunspot Number      50.987620
Yearly Mean Standard Deviation         3.125375
Number of Observations              1777.463524
Definitive/Provisional Indicator       0.000000
dtype: float64
Median Yearly Mean Total Sunspot Number     66.7
Yearly Mean Standard Deviation        7.7
Number of Observations              365.0
Definitive/Provisional Indicator      1.0
dtype: float64
Min Yearly Mean Total Sunspot Number      0.0
Yearly Mean Standard Deviation        1.7
Number of Observations              150.0
Definitive/Provisional Indicator      1.0
dtype: float64
Max Yearly Mean Total Sunspot Number     269.3
Yearly Mean Standard Deviation        19.1
Number of Observations              8903.0
Definitive/Provisional Indicator       1.0
dtype: float64
Mode    Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
0                              18.3                             9.2

   Number of Observations  Definitive/Provisional Indicator
0                   365.0                               1.0
Standard Deviation Yearly Mean Total Sunspot Number      62.057114
Yearly Mean Standard Deviation         3.807299
Number of Observations              2394.898980
Definitive/Provisional Indicator       0.000000
dtype: float64
Variance Yearly Mean Total Sunspot Number    3.851085e+03
Yearly Mean Standard Deviation      1.449552e+01
Number of Observations              5.735541e+06
Definitive/Provisional Indicator    0.000000e+00
dtype: float64
Skewness Yearly Mean Total Sunspot Number    0.799452
Yearly Mean Standard Deviation      0.555067
Number of Observations              1.876098
Definitive/Provisional Indicator    0.000000
dtype: float64
Kurtosis Yearly Mean Total Sunspot Number   -0.143733
Yearly Mean Standard Deviation     -0.244310
Number of Observations              1.783261
Definitive/Provisional Indicator    0.000000
dtype: float64

## Data aggregation with pandas DataFrames

In [37]:
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import random_integers
import numpy as np

seed(42)

df = pd.DataFrame({'Weather' : ['cold', 'hot', 'cold', 'hot', 'cold', 'hot', 'cold'], 
                   'Food': ['soup', 'soup', 'icecream', 'chocolate', 'icecream', 'icecream', 'soup'], 
                   'Price': 10*rand(7), 
                   'Number': random_integers(1, 9, size=(7,))})

print df
weather_group = df.groupby('Weather')

i=0

for name, group in weather_group:
    i = i + 1
    print "Group", i, name
    print group
    
print "Weather group first\n", weather_group.first()
print "Weather group last\n", weather_group.last()
print "Weather group mean\n", weather_group.mean()

wf_group = df.groupby(['Weather', 'Food'])
print "WF Groups", wf_group.groups

print "WF Aggregated\n", wf_group.agg([np.mean, np.median])

        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold
Group 1 cold
       Food  Number     Price Weather
0      soup       8  3.745401    cold
2  icecream       4  7.319939    cold
4  icecream       8  1.560186    cold
6      soup       6  0.580836    cold
Group 2 hot
        Food  Number     Price Weather
1       soup       5  9.507143     hot
3  chocolate       8  5.986585     hot
5   icecream       3  1.559945     hot
Weather group first
         Food  Number     Price
Weather
cold     soup       8  3.745401
hot      soup       5  9.507143
Weather group last
             Food  Number     Price
Weather
cold         soup       6  0.580836
hot      icecream       3  1.559945
Weather group mean
           Number     Price
Weather
cold     6.500000  3.301591
hot      5.333333  5.684558
WF Groups {('hot', 'chocolate'): Int64Index([3], dtype='int64'), ('cold', 'icecream'): Int64Index([2, 4], dtype='int64'), ('cold', 'soup'): Int64Index([0, 6], dtype='int64'), ('hot', 'soup'): Int64Index([1], dtype='int64'), ('hot', 'icecream'): Int64Index([5], dtype='int64')}
WF Aggregated
                  Number            Price
                    mean median      mean    median
Weather Food
cold    icecream       6      6  4.440063  4.440063
        soup           7      7  2.163119  2.163119
hot     chocolate      8      8  5.986585  5.986585
        icecream       3      3  1.559945  1.559945
        soup           5      5  9.507143  9.507143

/Users/JFrmbp/Support/anaconda3/envs/data2/lib/python2.7/site-packages/ipykernel/__main__.py:12: DeprecationWarning: This function is deprecated. Please call randint(1, 9 + 1) instead

## Concatenating and appending DataFrames

In [38]:
print "df :3\n", df[:3]
print "Concat Back together\n", pd.concat([df[:3], df[3:]])
print "Appending rows\n", df[:3].append(df[5:])

df :3
       Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       5  9.507143     hot
2  icecream       4  7.319939    cold
Concat Back together
        Food  Number     Price Weather
0       soup       8  3.745401    cold
1       soup       5  9.507143     hot
2   icecream       4  7.319939    cold
3  chocolate       8  5.986585     hot
4   icecream       8  1.560186    cold
5   icecream       3  1.559945     hot
6       soup       6  0.580836    cold
Appending rows
       Food  Number     Price Weather
0      soup       8  3.745401    cold
1      soup       5  9.507143     hot
2  icecream       4  7.319939    cold
5  icecream       3  1.559945     hot
6      soup       6  0.580836    cold

## Joining DataFrames

In [39]:
dests = pd.read_csv('dest.csv')
print "Dests\n", dests

tips = pd.read_csv('tips.csv')
print "Tips\n", tips

print "Merge() on key\n", pd.merge(dests, tips, on='EmpNr')
print "Dests join() tips\n", dests.join(tips, lsuffix='Dest', rsuffix='Tips')

print "Inner join with merge()\n", pd.merge(dests, tips, how='inner')
print "Outer join\n", pd.merge(dests, tips, how='outer')

IOError: File dest.csv does not exist

## Handling missing values

In [40]:
df = pd.read_csv('csv/WHO_first9cols.csv')
df = df [['Country', df.columns[-2]]][:2]
print "New df\n", df
print "Null Values\n", pd.isnull(df)
print "Total Null Values\n", pd.isnull(df).sum()
print "Not Null Values\n", df.notnull()
print "Last Column Doubled\n", 2 * df[df.columns[-1]]
print "Last Column plus NaN\n", df[df.columns[-1]] + np.nan
print "Zero filled\n", df.fillna(0)

New df
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                         23.0
1      Albania                                         94.0
Null Values
  Country Net primary school enrolment ratio male (%)
0   False                                       False
1   False                                       False
Total Null Values
Country                                        0
Net primary school enrolment ratio male (%)    0
dtype: int64
Not Null Values
  Country Net primary school enrolment ratio male (%)
0    True                                        True
1    True                                        True
Last Column Doubled
0     46.0
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64
Last Column plus NaN
0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64
Zero filled
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                         23.0
1      Albania                                         94.0

## Dealing with dates

In [42]:
import sys

print "Date range", pd.date_range('1/1/1900', periods=42, freq='D')

try:
    print "Date range", pd.date_range('1/1/1677', periods=4, freq='D')
except:
    etype, value, _ = sys.exc_info()
    print "Error encountered", etype, value

print pd.to_datetime(['1900/1/1', '1901/12/11'])

print "With format", pd.to_datetime(['19021112', '19031230'], format='%Y%m%d')

# print "Illegal date", pd.to_datetime(['1902-11-12', 'not a date'])
print "Illegal date coerced", pd.to_datetime(['1902-11-12', 'not a date'], coerce=True)

 Date range DatetimeIndex(['1900-01-01', '1900-01-02', '1900-01-03', '1900-01-04',
               '1900-01-05', '1900-01-06', '1900-01-07', '1900-01-08',
               '1900-01-09', '1900-01-10', '1900-01-11', '1900-01-12',
               '1900-01-13', '1900-01-14', '1900-01-15', '1900-01-16',
               '1900-01-17', '1900-01-18', '1900-01-19', '1900-01-20',
               '1900-01-21', '1900-01-22', '1900-01-23', '1900-01-24',
               '1900-01-25', '1900-01-26', '1900-01-27', '1900-01-28',
               '1900-01-29', '1900-01-30', '1900-01-31', '1900-02-01',
               '1900-02-02', '1900-02-03', '1900-02-04', '1900-02-05',
               '1900-02-06', '1900-02-07', '1900-02-08', '1900-02-09',
               '1900-02-10', '1900-02-11'],
              dtype='datetime64[ns]', freq='D')
Date range Error encountered <class 'pandas.tslib.OutOfBoundsDatetime'> Out of bounds nanosecond timestamp: 1677-01-01 00:00:00
DatetimeIndex(['1900-01-01', '1901-12-11'], dtype='datetime64[ns]', freq=None)
With format DatetimeIndex(['1902-11-12', '1903-12-30'], dtype='datetime64[ns]', freq=None)
Illegal date coerced DatetimeIndex(['1902-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

/Users/JFrmbp/Support/anaconda3/envs/data2/lib/python2.7/site-packages/ipykernel/__main__.py:16: FutureWarning: the coerce=True keyword is deprecated, use errors='coerce' instead

## Pivot tables

In [46]:
print "DataFrame\n", df
print pd.pivot_table(df, cols=['Food'], aggfunc=np.sum)

DataFrame
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                         23.0
1      Albania                                         94.0

TypeError: pivot_table() got an unexpected keyword argument 'cols'

## Remote data access

In [52]:
# from pandas.io.data import Options
from pandas_datareader.data import Options
import datetime

def next_friday():
    today = datetime.date.today()
    return today + datetime.timedelta((4-today.weekday()) % 7)

def get_price(options, is_call, is_put):
    fri = next_friday()
    option_list = options.get_near_stock_price(above_below=1, call=is_call, put=is_put, expiry=fri)[0]
    option = option_list[option_list["Open Int"] == option_list["Open Int"].max()]
    
    return option["Last"].values[0]

def get_straddle():
    options = Options('AAPL', "yahoo")
    call = get_price(options, True, False)
    put = get_price(options, False, True)
    
    return call + put

print get_straddle()

RemoteDataError: Data not available